html {
	min-height: 100%;
	position: relative;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

html, body {
	margin: 0;
	padding: 0;
}

.header {
	max-width: 85%;
}

div.container {
	width: 100%;
}

header, footer {
	padding: 1em;
	color: white;
	clear: left;
	text-align: center;
}

nav {
	float: left;
	max-width: 190px;
	margin: 37px 4px;
	padding: 1em;
}

ul.menubar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

ul.menubar li a {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

ul.menubar li a.active {
	background-color: #343834;
	color: white;
}

ul.menubar li a:hover:not(.active)
{
background-color:#555;
color:white;
}

.search {
	padding: 1em;
	overflow: hidden;
	text-align: center;
}

.news-container {
	overflow: hidden;
	width: 80%;
}

.news {
	border: 1px solid gray;
	padding: 1em;
	font-family: sans-serif;
	border-radius: 6px;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	width: 100%;
	background: #999;
}

header {
	padding: 1em;
	color: white;
	background-color: black;
	clear: left;
	text-align: center;
	width: 100%;
}

.login-card {
	padding: 40px;
	width: 274px;
	background-color: #F7F7F7;
	margin: 125px auto 10px;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.login-card h1 {
	font-weight: 100;
	text-align: center;
	font-size: 2.3em;
}

.login-card input[type=submit] {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	position: relative;
}

.login-card input[type=text], input[type=password] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.login-card input[type=text]:hover, input[type=password]:hover {
	border: 1px solid #b9b9b9;
	border-top: 1px solid #a0a0a0;
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login {
	text-align: center;
	font-size: 14px;
	font-family: 'Arial', sans-serif;
	font-weight: 700;
	height: 36px;
	padding: 0 8px;
	/* border-radius: 3px; */
	/* -webkit-user-select: none;
  user-select: none; */
}

.login-submit {
	/* border: 1px solid #3079ed; */
	border: 0px;
	color: #fff;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	background-color: #4d90fe;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.login-submit:hover {
	/* border: 1px solid #2f5bb7; */
	border: 0px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	background-color: #357ae8;
	/* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-card .warning {
	font-size: 17px;
	color: red;
}

.news-info {
	width: 100%;
	/* height: 100%; */
	margin: 5px;
	overflow: hidden;
}

.news-title {
	float: left;
	width: 50%;
}

.news-author {
	/* max-width: calc(100% - 501px); */
	width: 25%;
	float: left;
	text-align: center;
}

.news-date {
	float: right;
	width: 20%;
	text-align: center;
}

.news-content {
	margin: 29px 5px 23px;
	font-family: sans-serif;
}


.news-additional {
	margin: 5px;
	height: 100%;
	overflow: hidden;
}

.news-tags {
	padding: 10px;
	max-width: 36%;
	margin-right: 10px;
	background-color: #d9e4e4;
	border: 2px solid #b5b5b5;
	border-radius: 14px;
	text-align: center;
	float: left;
}

.news-action {
	float: right;
	text-align: center;
}

.pagination-container {
	text-align: center;
	margin: 10px;
}

ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	border-radius: 5px;
}

ul.pagination li a.active {
	background-color: #6d6c6c;
	color: white;
	border-radius: 5px;
}

ul.pagination li a:hover:not(.active)
{
background-color:#ddd;
}

button.delete-news {
	background-color: white;
	color: black;
	border: 2px solid #f1460d;
}

button.delete-news:hover {
	background-color: #f1460d;
	color: white;
}

a.news, button.news {
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 13px;
}

a.comments {
	background-color: white;
	color: black;
	border: 2px solid #66a54b;
}

a.comments:hover {
	background-color: #66a54b;
	color: white;
}

a.edit-news {
	background-color: white;
	color: black;
	border: 2px solid #555555;
}

a.edit-news:hover {
	background-color: #555555;
	color: white;
}

.sbm-btn {
	display: inline-block;
	border-radius: 4px;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 23px;
	width: 146px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 0px 0px 0px 5px;
}

.sbm-btn {
	background-color: #908a88;
}

.sbm-btn span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.sbm-btn span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.sbm-btn:hover span {
	padding-right: 25px;
}

.sbm-btn:hover span:after {
	opacity: 1;
	right: 0;
}

.reset {
	background-color: #f1460d;
}

.content-container {
	margin-bottom: 4em;
	overflow: hidden;
}

.news-header {
	padding: 1em;
	font-size: 26px;
}

.news-header_title {
	/*font-size: 26px;*/
	
}

.author {
	float: left;
	margin-left: 27px;
	width: 50%;
}

.date {
	float: right;
	width: 40%;
}

.news-additional-title {
	overflow: hidden;
	/* font-size: 26px; */
}

.news-content-container {
	overflow: hidden;
	width: 68%;
	padding-left: 25px;
	margin-bottom: 100px;
}

.comments-container {
	width: 70%;
}

.comment {
	padding: 1em;
	border-bottom: 1px solid #ccc;
}

.comment-date {
	font-style: italic;
}

.comment-text {
	margin-top: 7px;
}

.comment-edit {
	margin-top: 7px;
}

.delete {
	padding: 4px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	/* -webkit-transition-duration: 0.4s; */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
	border: 2px solid #f44336;
	background-color: white;
	color: black;
}

.delete:hover {
	background-color: #f44336;
	color: white;
}

.new-cmn-text {
	width: 100%;
	height: 90px;
}

textarea {
	resize: none;
}

.new-comment {
	margin-left: 2.5em;
	width: 86%;
}

.post-comment {
	float: right;
	margin: 10px;
}

.new-edit-container textarea {
	width: 71%;
}

.new-edit-container p {
	font-size: 18px;
	font-family: sans-serif;
}

.new-edit-container {
	overflow: hidden;
	padding: 4em 6em;
	margin-bottom: 100px;
}


.new-brief textarea {
	height: 60px;
}

.new-content textarea {
	height: 300px;
}

.new-link {
	padding: 2em 4em;
}

.new-link>span:last-of-type {
	margin-left: 11px;
}

.new-save {
	width: 70%;
	text-align: right;
}

.author-container, .tag-container {
	overflow: hidden;
	padding: 4em 3em;
	margin-bottom: 100px;
}

ul.authors, ul.tags {
	overflow: hidden;
	height: 470px;
}

ul.authors li p, ul.tags li p {
	font-family: sans-serif;
	font-size: 21px;
}

ul.authors li, ul.tags li {
	line-height: 1.5em;
	float: left;
	display: inline;
	width: 33%;
	margin-bottom: 6px;
}

.round-btn {
	padding: 4px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	/* -webkit-transition-duration: 0.4s; */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
	background-color: white;
	color: black;
}

.delete-tag, .delete-author {
	border: 2px solid #f44336;
}

.delete-tag:hover, .delete-author:hover {
	background-color: #f44336;
}

.round-btn:hover {
	color: white;
}

.create {
	padding: 1em 1.3em;
	display: inline-block;
	font-size: 25px;
	margin: 30px 9px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	-webkit-transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 13px;
}

.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	z-index: 1;
	padding-top: 237px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}

/* Add Animation */
@
-webkit-keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}
@
keyframes animatetop {
	from {top: -300px;
	opacity: 0
}

to {
	top: 0;
	opacity: 1
}

}

/* Modal Content */
.modal-content {
	overflow: hidden;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	background-color: #999999;
	color: white;
}

.modal-body {
	padding: 2px 16px;
	font-size: 19px;
	font-family: sans-serif;
}

.modal-footer {
	padding: 8px 35px;
	color: white;
	float: right;
}

.modal input[type=text] {
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	-webkit-appearance: none;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.logout-btn {
	background-color: #d65023;
}

.logout {
	width: 19%;
	float: right;
	margin-top: 23px;
}

.error {
	color: red;
	font-size: 14px;
}

.previous {
	float: left;
	margin-left: 27px;
	width: 50%;
}

.next-prev {
	margin-bottom: 24px;
	overflow: hidden;
}

.edit-item {
	float: left;
	border: 2px solid #f1f140;
}

.edit-item:hover {
	background-color: #f1f140;
}

header a {
	text-decoration: none;
	color: white;
}

header a:hover {
	color: red;
}

header .localization {
	float: left;
	font-size: 1.em;
	font-size: 21px;
	margin: 26px;
}
